* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(235, 230, 219);
}
button {
  padding: 0.5rem 1.5rem;
  background-color: rgb(0, 300, 255);
  border-radius: 25%;
  border: 1px solid rgb(36, 35, 35);
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 1.5rem;
}
.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 2.5rem 1.5rem;
}
#contador2 h2 {
  display: inline-flex;
  flex-direction: column;
}

.tarefas {
  background-color: rgb(0, 140, 255);
  padding: 1.5rem 3rem;
}

.area_de_testes {
  margin: 5rem 2rem;
  background-color: rgb(143, 236, 205);
}
